{% extends "base.html" %}

{% block contenido %}
<h2 class="mb-4">Crear Producto</h2>

<form action="/productos/crear" method="POST" class="card p-4 shadow-sm">

    <div class="mb-3">
        <label class="form-label">Nombre del producto</label>
        <input type="text" name="nombre" class="form-control" required>
    </div>

    <div class="mb-3">
        <label class="form-label">Precio</label>
        <input type="number" name="precio" class="form-control" step="0.01" required>
    </div>

    <div class="mb-3">
        <label class="form-label">Stock</label>
        <input type="number" name="stock" class="form-control" required>
    </div>

    <button type="submit" class="btn btn-success">Guardar Producto</button>
    <a href="/productos" class="btn btn-secondary">Cancelar</a>
</form>

{% endblock %}
