{% extends "base.html" %}

{% block contenido %}
<h2 class="mb-4">Crear Empleado</h2>

<form action="/empleados/crear" method="POST" class="card p-4 shadow-sm">

    <div class="mb-3">
        <label class="form-label">Nombre</label>
        <input type="text" name="nombre" class="form-control" required>
    </div>

    <div class="mb-3">
        <label class="form-label">Apellido</label>
        <input type="text" name="apellido" class="form-control" required>
    </div>

    <div class="mb-3">
        <label class="form-label">Puesto</label>
        <input type="text" name="puesto" class="form-control" required>
    </div>

    <button type="submit" class="btn btn-primary">Guardar</button>
    <a href="/empleados" class="btn btn-secondary">Cancelar</a>
</form>

{% endblock %}
